---
layout: home
---

<main role="main" class="main home">
    <div id="particles" class="jumbotron particles">
        <div class="image-container" onmousedown="return false">
            <img class="jumbotron-img" src="{{ site.baseurl }}/assets/img/logos/datahub_color_vert-gry-bg.png"
                 alt="DATA HUB ICON">
        </div>
        <div class="title-text-container">
            <h1>A Data & AI Platform for the Hybrid Cloud</h1>
        </div>
        <div class="button-container">
            <a class="btn btn-lg btn-primary btn-getting-started"
               href="{{ site.baseurl }}/docs.html"
               role="button">Get started
            </a>
        </div>
    </div>

    <div class="jumbotron small">
        <div class="image-container">
            <img class="jumbotron-img" src="{{ site.baseurl }}/assets/img/logos/datahub_color_vert-gry-bg.png"
                 alt="DATA HUB ICON">
        </div>
        <div class="title-text-container">
            <h1>A Data & AI Platform for the Hybrid Cloud</h1>
        </div>
        <div class="button-container">
            <a class="btn btn-lg btn-primary btn-getting-started"
               href="{{ site.baseurl }}/docs.html"
               role="button">Get started
            </a>
        </div>
    </div>

<!--    <div class="alert alert-special alert-dismissible fade show" role="alert">-->
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="offset-md-1 col-md-10">-->
<!--                    <a href="{{ site.baseurl }}/news.html">Special Announcement:</a> Want to learn more about open source AI, Open Data Hub, and-->
<!--                    other data and AI workloads on Kubernetes and OpenShift?  Curious about AI DevOps? Join us October 28 at the-->
<!--                    <a class="external-link" href="https://commons.openshift.org/gatherings/San_Francisco_2019.html" target="_blank">-->
<!--                        <i class="fas fa-external-link-alt"></i> OpenShift Commons Gathering-->
<!--                    </a>-->
<!--                     co-located with ODSC/West.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container what-is">
        <div class="row dh-info">
            <div class="dh-info-text-container offset-md-1 col-md-10">
                <div class="dh-info-section">
                    <h2 class="dh-info-title">What is Open Data Hub?</h2>
                    <p>
                        Open Data Hub is a blueprint for building an AI as a service platform on Red Hat's <a href="https://kubernetes.io/">Kubernetes</a>-based 
                        <a href="https://www.openshift.com/">OpenShift&reg; Container Platform</a> and
                        <a href="https://www.redhat.com/en/technologies/storage/ceph">Ceph Object Storage</a>. It inherits from upstream efforts 
                        such as <a href="https://strimzi.io/">Kafka/Strimzi</a> and <a href="https://www.kubeflow.org/">Kubeflow</a>, and is the foundation for Red Hat's internal data science and AI platform.
                        Data scientists can create models using Jupyter notebooks, and select from popular tools such as
                        <a href="https://www.tensorflow.org/">TensorFlow&trade;</a>, <a href="http://scikit-learn.org/stable/index.html">scikit-learn</a>,
                        <a href="http://spark.apache.org/">Apache Spark&trade;</a> and more for developing models.
                        Teams can spend more time solving critical business needs and less on installing and maintaining infrastructure with the Open Data Hub.
                    </p>
                    <p>
                        Open Data Hub is a meta-project that integrates open source projects into a practical solution.
                        It aims to foster collaboration between communities, vendors, user-enterprises, and academics
                        following open source best practices.  The <strong>open source community</strong> can
                        experiment and develop <strong>intelligent applications</strong> without incurring high costs and
                        having to master the complexity of modern machine learning and artificial intelligence software stacks.
                    </p>
                    <p>
                        Read about the new features coming to Open Data Hub in our <a href="{{ '/docs/roadmap/future.html' | prepend: site.baseurl }}">Project Road Map</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width-image">
        <img src="{{ site.baseurl }}/assets/img/datahub_flow.png" alt="Data Hub Parts">
    </div>
    <div class="container getting-started">
        <div class="row dh-info">
            <div class="dh-info-text-container offset-md-1 col-md-10">
                <div class="dh-info-section">
                    <h2 class="dh-info-title">Getting Started</h2>
                    <p>
                        For additional information about the Open Data Hub, read
                        our <a href="{{ site.baseurl }}/news.html">blogs</a> and <a href="{{ '/docs.html' | prepend: site.baseurl }}">documentation</a>.
                    </p>
                    <p>
                        To set up the Open Data Hub, all you need is a running <a href="https://www.openshift.com/">OpenShift&reg;</a>
                        cluster. For storing data and models, we recommend using a S3 object store such as
                        <a href="https://ceph.com/ceph-storage/object-storage/">Ceph</a>.
                        Once your OpenShift and Ceph installations are running, deploy the Open Data Hub components
                        using our <a href="https://www.ansible.com/">Ansible</a> playbooks and OpenShift&reg; deployment
                        templates.
                    </p>
                </div>
                <div class="dh-info-section">
                    <p>
                        <a class="btn" role="button"  href="{{ '/docs/getting-started/quick-installation.html' | prepend: site.baseurl }}">
                            Installation
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
